@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1920px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 4px 0;
  background: #f4f5f5;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: "Inter", sans-serif;
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      a,
      label {
        cursor: pointer;
        color: #141415;
        font-size: 15px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: 0.3s ease;
        span {
          color: #141415;
          font-size: 15px;
          font-weight: 500;
          text-decoration: underline;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
      .give {
        font-weight: 500;
      }
    }
    p {
      color: #62656a;
      font-size: 14px;
      font-weight: 400;
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      a {
        cursor: pointer;
        color: #62656a;
        font-size: 14px;
        font-weight: 500;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        &:hover {
          color: #141415;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
main {
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
      font-family: "Inter", sans-serif;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 17px 0;
      .logo {
        width: 215px;
        height: 32px;
        object-fit: cover;
        cursor: pointer;
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        position: relative;
        button {
          cursor: pointer;
          width: 120px;
          height: 40px;
          border-radius: 4px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          background: rgba(49, 49, 196, 0.1);
          color: #33c;
          font-size: 14px;
          font-weight: 500;
          img {
            width: 24px;
          }
        }
        input {
          width: 500px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid rgba(118, 121, 127, 0.3);
          background: #fff;
          outline-color: rgba(118, 121, 127, 0.3);
          color: #757575;
          font-size: 14px;
          font-weight: 400;
          padding: 10px 107px 10px 17px;
        }
        .cancel {
          display: none;
          position: absolute;
          right: 85px;
          width: 15px;
          height: 15px;
          cursor: pointer;
          transition: 0.3s ease;
        }
        div {
          cursor: pointer;
          background-color: black;
          width: 75px;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 0px 4px 4px 0px;
          background: rgba(118, 121, 127, 0.05);
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        a {
          position: relative;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: #000;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          padding: 5px;
          transition: 0.3s ease;
          border-radius: 5px;
          img {
            width: 24px;
            height: 24px;
          }
          &:hover {
            background-color: #e7e7e7;
          }
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 24px;
            background-color: #5000aa;
            border-radius: 5px;
            font-size: 12px;
            font-size: 400;
            color: white;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      font-family: "Roboto", sans-serif !important;
      padding: 0 0 30px;
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.3s ease;
        img {
          width: 20px;
        }
        &:hover {
          color: black;
          &::after {
            position: absolute;
            bottom: -12px;
            content: "";
            display: block;
            height: 2px;
            animation: headerAnim forwards 0.5s;
            background-color: black;
          }
        }
      }
      .bold {
        color: black;
        font-weight: 500;
      }
      .noAnim {
        &::after {
          display: none !important;
        }
      }
    }
  }
  .swiper {
    margin: 20px 0;
    width: 100%;
    border-radius: 14px;
    background-color: #e7e7e7;
    z-index: 0;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
      user-select: none;
    }
    .swiper-button-next {
      color: #5000aa;
      border: 1px solid gray;
      border-radius: 50%;
      background-color: lightgray;
      width: 35px;
      height: 35px;
      --swiper-navigation-size: 20px;
      &::after {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
    .swiper-button-prev {
      color: #5000aa;
      border: 1px solid gray;
      border-radius: 50%;
      background-color: lightgray;
      width: 35px;
      height: 35px;
      --swiper-navigation-size: 20px;
      &::after {
        position: absolute;
        top: 8px;
        left: 10px;
      }
    }
    .swiper-pagination {
      --swiper-theme-color: gray;
    }
  }
  .discount,
  .electronics,
  .furniture {
    width: 100%;
    font-family: "Inter", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 0;
    .title {
      padding-bottom: 20px;
      color: #000;
      font-size: 28px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      img {
        width: 35px;
        height: 35px;
        margin-top: 5px;
      }
    }
    .goods,
    .same_goods,
    .all_goods {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      align-items: center;
      row-gap: 30px;
      column-gap: 20px;
      .good {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 8px;
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        text-align: left;
        padding: 10px;
        .imgDiv {
          position: relative;
          img {
            width: 100%;
            object-fit: contain;
            border-radius: 8px 8px 0 0;
          }
          .like {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0px;
            right: 0px;
          }
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 25px;
            border-radius: 4px;
            background: #5000aa;
            color: #fff;
            font-size: 13px;
            font-weight: 500;
          }
        }
        h3 {
          padding: 7px 0;
          width: 100%;
          color: #000;
          font-size: 12.8px;
          font-weight: 400;
          height: 30px;
        }
        .rating {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 5px;
          img {
            width: 14px;
            height: 14px;
          }
          p {
            color: #8a8d93;
            font-size: 11.2px;
            font-weight: 300;
          }
        }
        .part_payment {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 20px;
          border-radius: 4px;
          background: #ff0;
          color: #1f1f26;
          font-size: 11px;
          font-weight: 400;
          cursor: pointer;
        }
        .overall_price {
          width: 100%;
          padding-top: 5px;
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 20px;
          .price {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            p {
              color: #757575;
              font-size: 11.2px;
              font-weight: 400;
              text-decoration-line: line-through;
            }
            h4 {
              color: #000;
              font-size: 14px;
              font-weight: 500;
            }
          }
          .circle {
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #8a8d93;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
footer {
  position: relative;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif !important;
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    .div1 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 7px;
      h3 {
        padding-bottom: 5px;
        color: #1f1f26;
        font-size: 14px;
        font-weight: 500;
      }
      a {
        color: #4d4e59;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 7px;
      h3 {
        padding-bottom: 5px;
        color: #141415;
        font-size: 14px;
        font-weight: 500;
      }
      div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        a {
          text-decoration: none;
          cursor: pointer;
          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            cursor: pointer;
          }
          p {
            color: #1f1f26;
            font-size: 12.8px;
            font-weight: 500;
          }
        }
      }
    }
  }
  span {
    width: 100%;
    height: 1px;
    background-color: #1f1f26;
    opacity: 0.1;
  }
  .bottom {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      a {
        color: #1f1f26;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
      }
    }
    p {
      color: #4d4e59;
      font-size: 11px;
      font-weight: 400;
    }
  }
}

.media_header {
  background-color: #f4f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif !important;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    img {
      width: 30px;
    }
    color: #62656a;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      color: #33c;
    }
  }
}

.show {
  display: block !important;
}
.flex {
  display: flex !important;
}
.hide {
  display: none !important;
}
@keyframes headerAnim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.forTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.modal_contacts {
  width: 100%;
  position: absolute;
  top: -200%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  .bg {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    opacity: 0.5;
  }
  .content {
    width: 400px;
    height: 500px;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .exit {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      right: 25px;
      border-radius: 50%;
      background-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        cursor: pointer;
        position: absolute;
        top: -7px;
        font-size: 30px;
        font-weight: 300;
        color: gray;
      }
    }
    form {
      width: 90%;
      h3 {
        font-size: 30px;
        font-weight: 600;
        padding-top: 100px;
      }
      p {
        font-size: 18px;
        padding: 10px 0 15px;
      }
      .inp {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
        flex-direction: column;
        input {
          width: 100%;
          height: 50px;
          border-radius: 10px;
          border: none;
          outline: none;
          padding: 20px;
          font-size: 20px;
          font-weight: 500;
          background-color: lightgray;
          margin-bottom: 20px;
        }
        span {
          display: none;
          padding: 0 0 20px;
        }
      }
      .error {
        input {
          margin-bottom: 10px !important;
          border: 1px solid red !important;
        }
        span {
          display: block !important;
          color: red;
          font-size: 13px;
        }
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: #5000aa;
        font-size: 18px;
        color: white;
        font-weight: 500;
        border: none;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          opacity: 0.8;
        }
      }
      .text {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        padding: 100px 0 50px;
        a {
          text-decoration: none;
          color: #33c;
        }
      }
    }
  }
}
.modal_regions {
  width: 100%;
  position: absolute;
  top: -200%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  .bg {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    opacity: 0.5;
  }
  .content {
    width: 800px;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    .exit {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      right: 25px;
      border-radius: 50%;
      background-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        cursor: pointer;
        position: absolute;
        top: -7px;
        font-size: 30px;
        font-weight: 300;
        color: gray;
      }
    }
    h2 {
      font-size: 25px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
    input {
      width: 100%;
      height: 50px;
      background-color: lightgray;
      border: 1px solid gray;
      outline: none;
      padding: 20px;
    }
    .regions {
      width: 100%;
      max-height: 300px;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      div {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 0 20px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background-color: lightgray;
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: lightgray;
          margin-top: 10px;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 20px;
    }
  }
}

.modal_contacts_anim {
  animation: modal_contacts_anim forwards 0.4s !important;
}

.modal_contacts_anim1 {
  animation: modal_contacts_anim1 forwards 0.4s !important;
}

@keyframes modal_contacts_anim1 {
  from {
    top: 50%;
  }
  to {
    top: -200%;
  }
}

@keyframes modal_contacts_anim {
  from {
    top: -200%;
  }
  to {
    top: 50%;
  }
}
.btn_more {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #d0d0d0;
  color: black;
  font-size: 15px;
  font-weight: 400;
}
.min_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  .inf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    details {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 5px;
      &:after {
        content: "";
        display: block;
        width: 100%;
        background-color: gray;
        height: 1px;
        margin-top: 5px;
      }
      a {
        font-size: 15px;
        font-weight: 400;
        color: black;
        text-decoration: none;
        padding-top: 3px;
        cursor: pointer;
      }
    }
  }
  .apps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    img {
      width: 150px;
      cursor: pointer;
      object-fit: cover;
    }
  }
  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
  .more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    a {
      text-decoration: none;
      font-size: 15px;
      color: black;
      cursor: pointer;
    }
    p {
      font-size: 12px;
    }
  }
}
@keyframes catalog_anim_down {
  from {
    top: -700%;
  }
  to {
    top: 95px;
  }
}
@keyframes catalog_anim_up {
  from {
    top: 95px;
  }
  to {
    top: -700%;
  }
}
.catalog_anim_act {
  animation: catalog_anim_down 0.3s forwards;
}
.catalog_anim_act_remove {
  animation: catalog_anim_up 0.2s forwards;
}

.catalog {
  position: absolute;
  top: -700%;
  width: 100%;
  height: fit-content;
  padding: 30px 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  &::after {
    position: absolute;
    bottom: -200px;
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(232, 232, 232), transparent);
  }
  .dash {
    width: 20%;
    height: 100%;
    div {
      width: 100%;
      margin-left: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      text-align: left;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 5px;
      &:hover {
        color: #5000aa;
        background-color: rgb(219, 219, 219);
      }
      .left {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
        }
        h3 {
          font-size: 16px;
          font-weight: 500;
        }
      }
      img {
        width: 25px;
        height: 25px;
        object-fit: cover;
      }
    }
    .chose {
      color: #5000aa;
    }
  }
  .content {
    width: 80%;
    height: 100%;
    padding: 0 50px;
    .content_about {
      transition: all 0.2s ease;
      display: none;
      width: 100%;
      .top {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-bottom: 20px;
        img {
          padding-top: 5px;
          width: 35px;
          height: 35px;
          object-fit: cover;
        }
        h2 {
          font-size: 20px;
          font-weight: 500;
          padding-top: 5px;
        }
      }
      .types {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: start;
        align-items: start;
        row-gap: 30px;
        .block {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 5px;
          text-align: left;
          a {
            text-decoration: none;
            h3 {
              font-size: 16px;
              font-weight: 500;
              color: black;
              padding-bottom: 10px;
              transition: all 0.2s ease;
              &:hover {
                color: #5000aa;
              }
            }
            p {
              font-size: 14px;
              font-weight: 400;
              color: gray;
              transition: all 0.2s ease;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 3px;
              &:hover {
                color: #5000aa;
              }
              img {
                width: 20px;
                height: 20px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
