.none_block {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 100px 0 80px;
  img {
    width: 135px;
    height: 135px;
  }
  h2 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
  }
  p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }
  button {
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #7000ff;
    font-size: 14px;
    font-size: 500;
    color: white;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      background-color: #5b00d1;
    }
  }
}
